<li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-edit"></i>
      <p>
        จัดการข้อมูลพื้นฐาน
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="/admin/manage_employee" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>จัดการข้อมูลพนักงาน</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/manage_food" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>จัดการข้อมูลอาหาร</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/manage_material" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>จัดการข้อมูลวัตถุดิบ</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/manage_expense" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>จัดการข้อมูลค่าใช้จ่าย</p>
        </a>
      </li>
    </ul>
</li>